<div id="main container" class="conatiner">
	<div class="jumbotron well-lg">
		<h1>Welcome to Watchkeen</h1><br>
		<h6>Your Place to Shop !!</h6>
	</div>
	<div id="content" class="col-xs-3">left bar (filters)</div>
	<div id="sidebar" class="col-xs-9">right bar (content)</div>
	<br>
<%= link_to "All Watches", watches_path, class: 'btn btn-success' %>
</div>
page#index
