<p id="notice"><%= notice %></p>
<h1>Listing Buyers</h1>
<div class="container">
	<div class="row">
		<% @buyers.each do |buyer| %>
		<div class="col-md-6" align="center">
			<%= buyer.id %>
			<%= buyer.email %>
		</div>
		<% end %>
	</div>
</div>
<br><%= link_to 'New Buyer', new_buyer_path, class: 'btn btn-success' %>
